
<div class="row" id = infocards>


        <div class = "col s3">
           <div class="card panel" id="infocard">
                 <div id = "subject">
                      <p> Users</p>
                  </div>
                 <div id="details">
                      <p> 50</p>
                 </div>
           </div>
        </div>
        <div class = "col s3">
            <div class="card panel" id="infocard">
                <div id = "subject">
                    <p> Parking Lots</p>
                </div>
                <div id="details">
                    <p> 16</p>
                </div>
            </div>
        </div>
        <div class = "col s3">
            <div class="card panel" id="infocard">
                <div id = "subject">
                    <p> Parking Spots</p>
                </div>
                <div id="details">
                    <p>43</p>
                </div>
            </div>
        </div>
        <div class = "col s3">
            <div class="card panel" id="infocard">
                <div id = "subject">
                    <p> Defects</p>
                </div>
                <div id="details">
                    <p> 50</p>
                </div>

            </div>
        </div>
    </div>






<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<link href="/stylesheets/dashboard_style.css" rel="stylesheet" type="text/css"/>
