<div id="status-btn" class="col s6 center white-text yellow darken-2">
    In progress
</div>

<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<!-- External style sheet -->
<link href="/stylesheets/ticket_status_style.css" rel="stylesheet" type="text/css"/>
<!-- Font style sheet -->
<link href="https://fonts.googleapis.com/css?family=Mulish" rel="stylesheet">
<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>