<div id="change_password_modal<%=account.id%>" class="modal card" style="width: 40% !important;">
  <form action="/admin_accounts/change_password" method="POST">
      <div class="modal-content">
          <h4>Edit Password</h4>
          <input type="text" value="<%=account.id%>" name="id" hidden>
          <div class="row">
              <div class="col input-field input-outlined s12">
                  <input type="password" placeholder="Enter a new password" id="password" name="password" class="validate">
                  <label for="password">New Password</label>
              </div>
          </div>
          <div class="modal-footer">
              <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
              <button class="waves-effect waves-light btn indigo" type="submit">Submit</button>
          </div>
      </div>
  </form>
</div>
