<div class="row">
    <div class="col s12 offset-s2">
        <div class="card">
            <div class="card-content">
                <div class="row">
                    <div class="col s10"><p id="tickets-txt">All tickets</p></div>
                    <div class="col s1"><i class="tiny material-icons">sort</i><span id="sort-txt">Sort</span></div>
                    <div class="col s1"><i class="tiny material-icons">filter_list</i><span id="sort-txt">Filter</span></div>
                </div>
                <table class="highlight">
                    <thead>
                        <th>Parking Lot</th>
                        <th>Spot</th>
                        <th>Customer name</th>
                        <th>Date</th>
                        <th>Status</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>El Fernando Parking</td>
                            <td>Spot #234</td>
                            <td>Yuichi Kurino</td>
                            <td>May 26, 2019</td>
                            <td>Not Yet Fixed</td>
                        </tr>
                        <tr>
                            <td>Promenade Parking</td>
                            <td>Spot #234</td>
                            <td>Matt Damon</td>
                            <td>May 26, 2019</td>
                            <td>In Process</td>
                        </tr>
                        <tr>
                            <td>Promenade Parking</td>
                            <td>Spot #234</td>
                            <td>Henry Cavil</td>
                            <td>May 25, 2019</td>
                            <td>Resolved</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<!-- Materialize Icon CSS  -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!-- External style sheet -->
<link href="/stylesheets/tickets_style.css" rel="stylesheet" type="text/css"/>
<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>