<div id="upload-binary-model" class="modal card" style="width: 40% !important;">
    <div class="modal-content">
        <form class = "col s12" method="POST" action="/firmware/upload" enctype="multipart/form-data">
            <div class = "row">
                <label>Upload ESP32</label>
                <div class = "file-field input-field">
                    <div class = "btn indigo">
                        <span>Browse</span>
                        <input type = "file" name = "ESP32" single required>
                    </div>

                    <div class = "file-path-wrapper">
                        <input class = "file-path validate" type = "text", name = "ESP32"
                            placeholder = "Upload ESP32" />
                    </div>
                </div>
            </div>

            <div class = "row">
                <label>Upload ESP8266</label>
                <div class = "file-field input-field">
                    <div class = "btn indigo">
                        <span>Browse</span>
                        <input type = "file" name = "ESP8266" single required>
                    </div>

                    <div class = "file-path-wrapper">
                        <input class = "file-path validate" type = "text", name = "ESP8266"
                            placeholder = "Upload ESP8266 files" />
                    </div>
                </div>
            </div>
            <div class = "row">
                <div class="col input-field input-outlined s12">
                    <input type="number" step="0.01" placeholder="Enter a number" id="version" name="version" class="validate" required>
                    <label for="version">Version</label>
                </div>
            </div>
            <div>
                <input type="submit" value="Submit" class="btn indigo">
            </div>
        </form>
    </div>
</div>
