* {
    font-family: Mulish;
    font-style: normal;
}

#infocard {
    /* grayscale / white */

    background: #ffffff;
    /* grayscale / divider */

    border: 1px solid #dfe0eb;
    box-sizing: border-box;
    border-radius: 8px;
}

#Trend {
    width: 1275px;
    height: 526px;
    padding: 0px;
    margin: 0px;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;

    /* grayscale / white */

    background: #ffffff;
    /* grayscale / divider */

    border: 1px solid #dfe0eb;
    box-sizing: border-box;
    border-radius: 8px;
}

.container {
    width: 95%;
}

.title {
    padding-top: 15px;
    padding-left: 29px;
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 24px;
    letter-spacing: 0.4px;
    color: #252733;
}
.subtitle{
    padding-left:29px;
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    line-height: 24px;
    letter-spacing: 0.4px;
    color: #252733;
}
#subject {
    height: 14px;
    left: 32px;
    right: 896px;
    top: 24px;

    /* Bold 19 (0.4 px) */

    font-family: Mulish;
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 24px;
    /* identical to box height */

    text-align: center;
    letter-spacing: 0.4px;

    /* grayscale / gray */

    color: #9fa2b4;
}
#details {
    height: 80px;
    left: 32px;
    right: 896px;
    top: 60px;

    /* Bold 40 (1 px) */

    font-family: Mulish;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 50px;
    text-align: center;
    letter-spacing: 1px;

    /* grayscale / black */

    color: #252733;
}
.divider {
    height: 0px;
    left: 0px;
    right: 0px;
    top: calc(50% - 0px / 2);
    border-top: 50px;

    /* grayscale / divider */

    border: 1px solid #dfe0eb;
}
#box {
    padding: 0px;
    border-left: 1px solid #dfe0eb;
    height: 526px;
}
#subject1 {
    width: 278px;
    height: 22px;
    right: 32px;
    top: 32px;

    /* Semibold 16 (0.3 px) */

    font-family: Mulish;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 22px;
    /* identical to box height, or 137% */

    text-align: center;
    letter-spacing: 0.3px;

    /* grayscale / gray */

    color: #9fa2b4;
    padding-left: 100px;
}
#details1 {
    width: 278px;
    height: 30px;
    right: 32px;
    top: 60px;

    /* Bold 24 (0.3 px) */
    padding-bottom: 40px;
    font-family: Mulish;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.3px;

    /* grayscale / black */

    color: #252733;
    padding-left: 100px;
}

#rows {
    padding-top: 10px;
}
#tickets {
    background: #ffffff;

    border: 1px solid #dfe0eb;
    box-sizing: border-box;
    border-radius: 8px;
}

.input-field.input-outlined > input {
    border: 2px solid #b8b8b8;
    padding-left: 10px;
    width: calc(100% - 2.5rem);
    float: none;
    display: block;
    border-radius: 4px;
    transition: box-shadow, border-color 0.15s;
}
.input-field.input-outlined > input:focus:not([readonly]) {
    border-color: #0038a6;
    box-shadow: 0 1px 0 0px #0038a6;
}
.input-field.input-outlined > textarea {
    border: 2px solid #b8b8b8;
    padding-left: 10px;
    width: calc(100% - 1rem);
    float: none;
    display: block;
    border-radius: 4px;
    transition: box-shadow, border-color 0.15s;
}
.input-field.input-outlined > textarea:focus:not([readonly]) {
    border-color: #0038a6;
    box-shadow: 0 1px 0 0px #0038a6;
}

.input-field.input-outlined > label {
    left: 27px;
    display: inline-flex;
    width: auto !important;
}
.input-field.input-outlined > label.active {
    background: white;
    border-left: 4px solid white;
    border-right: 4px solid white;
    transform: translateY(-1.75rem);
    top: 1rem;
}
