* {
    font-family: Mulish;
    font-style: normal;
}

nav .nav-wrapper {
    padding-left: 100px;
}

nav .brand-logo {
    /* Bold 24 (0.3 px) */
    font-weight: bold;
    font-size: 24px !important;
    letter-spacing: 0.3px;

    /* grayscale / black */
    color: #252733  !important;
}