* {
    font-family: Mulish;
    font-style: normal;
}

div #table-header {
    font-size: 19px;
    font-weight: bold;
    letter-spacing: 0.4px;
    color: #252733;
}

td {
    font-size: 14px;
    letter-spacing: 0.2px;
    color: #252733;
}

div .lower-txt {
    font-weight: normal;
    font-size: 11px;
    line-height: 16px;
    letter-spacing: 0.1px;
    color: #C5C7CD;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    background: none !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:active {
    outline: none  !important;
    box-shadow: none  !important;
}

.dataTable thead th, #datatable.dataTable thead th {
    border-color: #DFE0EB;
}

.dataTable.no-footer {
    border-color: #DFE0EB !important;
}

.dataTables_length, .dataTables_length select {
    letter-spacing: 0.3px;
    line-height: 20px;
    color: #9FA2B4 !important;

}

.dataTables_info {
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #9FA2B4 !important;
}