<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <title>ProkoPark - New Parking Lot</title>
    </head>
    <body>
        <div class="container" >
            <%- include("../../component/sideBar.ejs") %>
            <%- include("../../component/pageTitle.ejs", {title: "New Parking Lot"}) %>
            <%- include("../../component/parkingLotInfoCard.ejs") %>
        </div>
    </body>
</html>
