<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <title>ProkoPark - Tickets (temporary)</title>
    </head>
    <body>
        <div class="container" >
            <%- include("../../component/sideBar.ejs") %>
            <%- include("../../component/pageTitle.ejs", {title: "Tickets"}) %>
        </div>
    </body>
</html>
