<!-- Parking lot info card -->
<div class="row">
    <div class="col s12">
        <div class="card">
            <div class="card-content">
                <form class="container" action="/parking/new" method="POST">
                    <div class="row">
                        <div class="col s8"><h6>Parking Lot Information</h6></div>
                        <div class="col s4 push-s2"><input type="submit" class="btn" value="Submit"></div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input name="name" id="lot-name" placeholder="Parking Lot Name" type="text" class="validate" required>
                        </div>
                        <div class="input-field col s12">
                            <input name="address" id="address" placeholder="Address" type="text" class="validate" required>
                        </div>
                        <div class="input-field col s3">
                            <input name="city" id="city" placeholder="City" type="text" class="validate" required>
                        </div>
                        <div class="input-field col s3">
                            <input name="state" id="state" placeholder="State" type="text" class="validate" required>
                        </div>
                        <div class="input-field col s3">
                            <input name="zip" id="zip" placeholder="Zip" type="text" class="validate" required>
                        </div>
                        <div class="input-field col s3">
                            <input name="price_per_hour" id="price" placeholder="Price/Hr (default)" type="text" class="validate" required>
                        </div>
                        <div class="input-field col s12">
                            <input name="lat" id="lat" placeholder="Latitude" type="text" class="validate" required>
                        </div>
                        <div class="input-field col s12">
                            <input name="long" id="long" placeholder="Longitude" type="text" class="validate" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s8"><h6>Administrator Account</h6></div>
                        <div class="col s4 push-s1"><a>+Add another Account</a></div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <select name="admin_id" required>
                                <option value="" disabled selected>Search By Account</option>
                                <%adminAccounts.map((account)=>{%>
                                <option value="<%=account.id%>"><%=account.admin_username%></option>
                                <%});%>
                            </select>
                            <label>
                                Search By Account
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s8"><h6>Parking Structure Orientation</h6></div>
                    </div>
                    <div class="row">
                        <div id="total-spots-input" class="input-field col s6">
                            <input id="total-spots" type="number" name="total-spots"  placeholder="Total number of spots" min="0" class="validate">
                        </div>
                        <div id="num-spots-input" class="input-field col s12 offset-s6 pull-s6"></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="/javascript/spotsInputField.js"></script>
