<!-- Parking lot info card -->
<div class="row">
    <div class="col s12 offset-s2">
        <div class="card">
            <div class="card-content">
                <form class="container" action="/parking_lot" method="POST">
                    <div class="row">
                        <div class="col s8 pull-s1"><h6>Parking Lot Information</h6></div>
                        <div class="col s4 push-s2"><a>Submit</a></div>
                    </div>
                    <div class="row">
                        <div class="input-field col s6">
                            <input id="lot-name" placeholder="Parking Lot Name" type="text" class="validate">
                        </div>
                        <div class="input-field col s6">
                            <input id="last-name" placeholder="Last Name" type="text" class="validate">
                        </div>
                        <div class="input-field col s12">
                            <input id="address" placeholder="Address" type="text" class="validate">
                        </div>
                        <div class="input-field col s3">
                            <input id="city" placeholder="City" type="text" class="validate">
                        </div>
                        <div class="input-field col s3">
                            <input id="state" placeholder="State" type="text" class="validate">
                        </div>
                        <div class="input-field col s3">
                            <input id="zip" placeholder="Zip" type="text" class="validate">
                        </div>
                        <div class="input-field col s3">
                            <input id="price" placeholder="Price/Hr (default)" type="text" class="validate">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s8 pull-s1"><h6>Administrator Account</h6></div>
                        <div class="col s4 push-s1"><a>+Add another Account</a></div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="admin-account" placeholder="Search By Account" type="search" class="validate">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s8 pull-s1"><h6>Parking Structure Orientation</h6></div>
                    </div>
                    <div class="row">
                        <div id="total-spots-input" class="input-field col s6">
                            <input id="total-spots" type="number" name="total-spots"  placeholder="Total number of Spots" min="0" class="validate">
                        </div>
                        <div id="num-spots-input" class="input-field col s5 offset-s6 pull-s6"></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<!-- External style sheet -->
<link href="/stylesheets/parking_lot_info_card_style.css" rel="stylesheet" type="text/css"/>
<script src="https://code.jquery.com/jquery-3.5.0.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
/* Creates input fields on focusout  */
$( "#total-spots-input" )
  .focusout(function() {
    $( "#num-spots-input" ).empty();
    var num_spots = $( "#total-spots" ).val();
    for (var i = 1; i < parseInt(num_spots) + 1; i++) {
        $( "#num-spots-input" ).append("<span><h6> Level " + i + ":</h6></span>" +
                                   "<input id=\"num-spots\" placeholder=\"Number of spots\" type=\"text\" class=\validate\">");
    }
});

/* Creates input fiels on Enter press */
$( "#total-spots-input" )
  .keypress(function(key) {
    $( "#num-spots-input" ).empty();
    var num_spots = $( "#total-spots" ).val();
    var key_code = key.keyCode ||key.which;

    if (key_code == 13) {
        for (var i = 1; i < parseInt(num_spots) + 1; i++) {
            $( "#num-spots-input" ).append("<span><h6> Level " + i + ":</h6></span>" +
                                   "<input id=\"num-spots\" placeholder=\"Number of spots\" type=\"text\" class=\validate\">");
        }
    }
});
</script>