<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <title><%= title %></title>
</head>
<body>
<div class="container" >
    <%- include("../../component/sideBar.ejs") %>
    <%- include("../../component/pageTitle.ejs", {title: "Complaints Detail"}) %>
    <%- include("../../component/complaints/complaintDetailCard.ejs",{complaints}) %>
</div>
</body>
</html>
