<div class="container">
    <div class="card">
        <div class="card-content">
            <div class="row">
                <h4 class="">Subject: <%=complaints[0].subject%></h4>
                <h6 class="">From: <%=complaints[0].email%></h6>
                <h6 class="">Date: <%=complaints[0].created_at%></h6>
                <br>
                <p class=""><%=complaints[0].message%></p>

            </div>
        </div>
    </div>
</div>
