<div class="container">
    <div class="card">
        <div class="card-content">
            <div class="row">
                <h4 class="">Subject: <%=complaints[0].subject%></h4>
                <p class=""><%=complaints[0].message%></p>

            </div>
        </div>
    </div>
</div>
